//* Colors
$primary-color-dark: #373737;
$primary-color-pink: #f5c7b0;
$primary-color-light: #f6f0f0;
$primary-color-green: #b9c4a9;

$color-offblack: #0a0a0a;
$color-black: #000000;
$color-white: #ffffff;
$color-offwhite: #f8f8f8;
